



.lankLista ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 5em;
}
li+li ::before{
    content: " | ";
}

.lankLista h1 {
    font-size: 5em;
    
}
